# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.
*

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
!.travis.yml
!fake_privkey.pem
!fake_fullchain.pem
!.HA_VERSION
!customize
!www
!www/mini-media-player-bundle.js
!www/atomic_calendar.js
!custom_components/*
!custom_components/hpprinter
!custom_components/lovelace_gen/__init__.py
!custom_components/lovelace_gen/__pycache__
!custom_components/lovelace_gen/manifest.json
!include
!themes
!python_scripts



# Ignore folders.
.storage
.cloud
.google.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
